@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* ----------------------------------------font-family */
.font-Poppins {
    font-family: "Poppins", sans-serif;
}

/* ----------------------------------------font-family */
/* ----------------------------------------width */
.max-w-369 {
    max-width: 369px;
}

.max-w-1334 {
    max-width: 1334px !important;
}

.max-w-1575 {
    max-width: 1575px !important;
}

/* ----------------------------------------width */
/* ----------------------------------------gap */
.gap-20 {
    gap: 20px;
}

.gap-22 {
    gap: 22px;
}

.gap-29 {
    gap: 29px;
}

.gap-39 {
    gap: 39px;
}

.gap-47 {
    gap: 47px;
}

.gap-51 {
    gap: 51px;
}

/* ----------------------------------------gap */
/* ----------------------------------------padding */
.pr-13 {
    padding-right: 13px;
}

.pl-17 {
    padding-left: 17px;
}



.pl-44 {
    padding-left: 44px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-26 {
    padding-top: 26px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-31 {
    padding-top: 31px;
}

.pt-33 {
    padding-top: 33px;
}

.pt-36 {
    padding-top: 36px;
}

.pt-44 {
    padding-top: 44px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-52 {
    padding-top: 52px;
}

.pt-199 {
    padding-top: 199px !important;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-13{
    padding-bottom: 13px;
}
.pb-18 {
    padding-bottom: 18px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-26 {
    padding-bottom: 26px;
}

.pb-65 {
    padding-bottom: 65px;
}

/* ----------------------------------------padding */
/* ----------------------------------------margin */
.Mt-1 {
    margin-top: -1px;
}

.Mt-2 {
    margin-top: -2px;
}

.mt-70 {
    margin-top: 70px;
}

/* ----------------------------------------margin */
/* ----------------------------------------btn */
.btn-1 {
    padding: 13px 25px 12px;
    background-color: var(--white);
    border-radius: 5px;
    color: var(--green-100);
    border: 1px solid transparent;
}

.btn-1:hover {
    box-shadow: 0px 0px 10px 1px var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-2 {
    padding: 18px 38px 17px 39px;
    background-color: var(--white);
    border-radius: 5px;
    color: var(--green-100);
    border: 1px solid transparent;
}

.btn-2:hover {
    box-shadow: 0px 0px 10px 1px var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/* ----------------------------------------btn */
/* ----------------------------------------card */
.mycard {
    padding: 20px 45px 44px 46px;
    height: 412px;
    border-radius: 40px;
}

.cardimg {
    left: 0;
    top: -40%;
}

/* ----------------------------------------card */
/* ----------------------------------------input */
.input-box {
    /* padding: 23px 44px 23px 36px; */
    background-color: var(--black-10);
    border-radius: 11px;
}

.input-box input {
    padding: 22px 30px 21px 36px;
}

.arrow-img {
    padding: 28px 42px 27px 43px;

}

.input-box:hover .arrow-img {
    transform: translateX(9px);
}

input {
    color: var(--white) !important;
    opacity: 100% !important;
}

/* ----------------------------------------input */
.pngwing {
    right: 0;
    top: 2%;
}

.gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 11px;
    /* z-index: 1 !important; */
    padding: 1px;
    background: linear-gradient(45deg, var(--white), transparent, var(--white));
    -webkit-mask:
        linear-gradient(var(--white) 0 0) content-box,
        linear-gradient(var(--white) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.gradient-border-4::before {
    z-index: -1;

}

.img-shadow {
    box-shadow: 0px 2px 1px 0px var(--black-1) !important;
    box-shadow: 0px 5px 4px 0px var(--black-2) !important;
    box-shadow: 0px 9px 7px 0px var(--black-3) !important;
    box-shadow: 0px 16px 12px 0px var(--black-4) !important;
    box-shadow: 0px 26px 21px 0px var(--black-5) !important;
    box-shadow: 0px 46px 36px 0px var(--black-7) !important;
    box-shadow: 0px 100px 80px 0px var(--black-7) !important;
}

.text-underline::after {
    /* text-decoration: underline !important; */
    position: absolute;
    content: '';
    height: 1.5px;
    width: 100%;
    display: inline-block;
    bottom: 3px;
    right: 0;
    margin: 0 auto;
    left: 0;
    transition: all 300ms linear;
    background-color: var(--white);
}

.rounded-20 {
    border-radius: 20px;
}

.pngwing1 {
    right: 5%;
}

.pngwing3 {
    left: 0;
}

.pngwing6 {
    top: -2%;
    left: -80%;
}

.play-btn {
    border: 1px solid var(--white);
    width: 56px;
    height: 56px;
}

.search-box {
    max-width: 147px;
    border-radius: 34px;

    background-color: var(--green-500);
    padding: 15px 19px;
}


.firstcard {
    height: 112px;
    border-radius: 20px;
    background-color: var(--green-400);
    max-width: 369px;
    max-width: 330px !important;
    padding: 25px 22px 14px;
}

.available-box {
    background-color: var(--green-300);
    border-radius: 6px;
    height: 33px;
    max-width: 84px;
    padding: 7px 8px 8px;
    top: -16px;
    left: 28px;
}

.right-border {
    border-right: 1px solid var(--white);
}

.farmer-img {
    bottom: 0;
    right: 0;
}


/* -----------------------------------------slider */
.first-slider.slick-dotted.slick-slider {
    margin-bottom: 60px !important;
}

.first-slider .slick-slide {
    padding-top: 292px;
}

.first-slider .slick-slide {
    margin: 0 15px;
}

.first-slider .slick-list {
    margin: 0 -15px;
}

.first-slider .slick-dots li.slick-active {
    width: 24px;
}

.first-slider .slick-dots li {
    margin: 0 5px !important;
    padding: 0;
    font-family: slick;
    width: 5px;
    height: 5px;
    content: '';
    background-color: var(--gray-100);
    border-radius: 16px;
    text-align: center;
    transition: all 200ms linear;
}

.slick-dots li button:before {
    content: '';
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.third-slider .slick-slide {
    margin: 0 27px;
}

.third-slider .slick-list {
    margin: 0 -27px;
}

.third-slider .slick-dots li.slick-active {
    width: 15px;
    height: 15px;
    transform: translateY(-3px);
}

.third-slider .slick-dots {
    position: absolute;
    bottom: 0;
    display: flex !important;
    left: 0;
    bottom: -2%;
    text-align: center !important;
}

.third-slider .slick-dots li {
    margin: 0 11px !important;
    padding: 0;
    font-family: slick;
    width: 9px;
    height: 9px;
    content: '';
    background-color: var(--white);
    border-radius: 28px;
    text-align: center;
    transition: all 200ms linear;
}

.second-slider .slick-slide {
    padding-top: 229px;
}

.second-slider .slick-dots li.slick-active {
    width: 51px;
}

.second-slider .slick-slide {
    margin: 0 27px;
}

.second-slider .slick-list {
    margin: 0 -27px;
}

.second-slider .slick-dots li {
    margin: 0px 10px !important;
    padding: 0;
    font-family: slick;
    width: 12px;
    height: 12px;
    content: '';
    background-color: var(--gray-100);
    border-radius: 28px;
    text-align: center;
    transition: all 200ms linear;
}

/* -----------------------------------------slider */
.footer-box {
    width: 100%;
    height: 100%;
    background-color: var(--black-10);
}

.layer {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--black-50) !important;
}

.mycard-layer {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--black-50) !important;
    border-radius: 40px;
    

}

.pre-btn {
    left: 0%;
    bottom: 30%;
}

.next-btn {
    right: 0% !important;
    bottom: 30%;
}

.box {
    padding: 20px 20px 60px !important;
    border-radius: 40px;
}

.gradient-border-2::before {
    border-radius: 20px;
}

.gradient-border-1::before {
    border-radius: 40px;
    z-index: -1 !important;
}

.gradient-border-3::before {
    border-radius: 40px;
    z-index: -1 !important;
    background: linear-gradient(120deg, var(--white), transparent, var(--white));
}


.social-icon:hover {
    transform: translateY(-7px);
}

.outline-none {
    outline: none;
}


.border-right::after {
    position: absolute;
    content: '';
    height: 27px;
    width: 1px;
    display: inline-block;
    right: 0;
    top: 23px;
    background-color: var(--white);
}

.duration-300 {
    transition: all 300ms linear;
}

.card-img img {
    width: 100%;
    border-radius: 20px;
    height: 470px;
}


.top-border::after {
    content: '';
    position: absolute;
    left: 0;
    top: -14px;
    z-index: 2 !important;
    width: 26px;
    height: 2px;
    background: var(--white);
}

.bottom-border::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -14px;
    z-index: 2 !important;
    width: 26px;
    height: 2px;
    background: var(--white);
}

.cursor-pointer {
    cursor: pointer !important;
}

.girl-img {
    max-width: 500px;
}

.footer-line {
    max-width: 716px;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 48%, rgba(255, 255, 255, 0.1) 100%);
}

/* -------------------------------------------preloder */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--green-100) 0%, var(--green-200) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.container-box {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

.preloader {
    margin: 20% auto 0;
    transform: translateZ(0);
}

.preloader:before,
.preloader:after {
    content: '';
    position: absolute;
    top: 0;
}

.preloader:before,
.preloader:after,
.preloader {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: animation 1.2s infinite ease-in-out;
}

.preloader {
    animation-delay: -0.16s;
}

.preloader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.preloader:after {
    left: 3.5em;
}

.third-slider .slick-dots {
    z-index: 1 !important;
}

@keyframes animation {

    0%,
    80%,
    100% {
        box-shadow: 0 2em 0 -1em var(--white);
    }

    40% {
        box-shadow: 0 2em 0 0 var(--white);
    }
}

.bounce2 {
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/* -------------------------------------------preloder */
/* -------------------------------------------animation */
.bounce3 {
    animation: bounce2 3s ease infinite;
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-7px);
    }
}

/* -------------------------------------------animation */
/* -------------------------------------------back-to-top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    outline: none;
    border: 0.5px solid var(--white);
    cursor: pointer;
    z-index: 20 !important;
    padding: 15px;
    border-radius: 4px;
}

/* -------------------------------------------back-to-top */
/* ----------------------------------------Ellipse */
.Ellipse11 {
    right: 0;
    bottom: -30%;
}

.Ellipse18 {
    right: 0;
}

.Ellipse22 {
    left: 0;
    top: -50%;
}

.Ellipse1 {
    right: 0;
    bottom: -20%;
}

.Ellipse3 {
    top: 0;
    left: 0;
}

.Ellipse4 {
    left: 30%;
}

.Ellipse2 {
    right: 0;
    top: -20%;
}

.Ellipse17 {
    bottom: -30%;
    left: 0;
}

.Ellipse182 {
    bottom: -15%;
}

/* ----------------------------------------Ellipse */
/* ----------------------------------------underline */
.underline::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 0;
    display: inline-block;
    bottom: -2px;
    right: 0;
    margin: 0 auto;
    left: 0;
    transition: all 300ms linear;
    background-color: var(--white);
}

.underline:hover::after {
    width: 100%;
}

/* ----------------------------------------underline */
@media (max-width: 575px) {
    .farmer-img {
        bottom: 0;
        right: -7% !important;
    }

    .mybtn {
        padding: 4px 12px !important;
    }

    .star1 {
        width: 30px !important;
    }

    .logo {
        width: 40px !important;
    }

    .menuicon {
        width: 30px !important;
    }

    .search-box {
        padding: 8px 11px;
        width: 100px;
    }

    .search-icon {
        width: 18px;

    }

    .text-underline::after {
        bottom: 8px !important;
    }

}

@media (min-width: 575px) {
    .pb-sm-120 {
        padding-bottom: 120px !important;
    }

    .pt-sm-58 {
        padding-top: 58px !important;
    }

    .pt-sm-120 {
        padding-top: 120px !important;
    }

    .box {
        padding: 45px 45px 90px !important;
    }

    .pt-sm-60 {
        padding-top: 60px !important;
    }

    .gap-sm-56 {
        gap: 56px !important;
    }

    .cardimg {
        left: 20%;
    }

    .pb-sm-60 {
        padding-bottom: 60px;
    }

    .pt-sm-109 {
        padding-top: 109px !important;
    }

    .firstcard {
        padding: 33px 28px 17px;
        max-width: 369px !important;
    }

    .pb-sm-65 {
        padding-bottom: 65px !important;
    }

    .pt-sm-76 {
        padding-top: 76px !important;
    }

    .pt-sm-44 {
        padding-top: 44px !important;
    }

    .pt-sm-84 {
        padding-top: 84px !important;
    }

    .Component {
        top: -5%;
        left: 5%;
        right: 5%;
    }

    .pt-sm-100 {
        padding-top: 100px !important;
    }

    .pt-sm-65 {
        padding-top: 65px !important;
    }

    .gap-sm-22 {
        gap: 22px;
    }

    .card-img img {
        max-width: 500px !important;
        height: 630px;
        margin: 0 auto;
    }
    .pl-sm-30 {
        padding-left: 30px !important;
    }

}

@media (min-width: 768px) {
    .input-box {
        max-width: 516px;
    }

    .cardimg {
        left: 10%;
    }
}

@media (min-width: 992px) {
    .pb-lg-210 {
        padding-bottom: 210px !important;
    }

    .pt-lg-337 {
        padding-top: 337px !important;
    }

    .pt-lg-279 {
        padding-top: 279px !important;
    }

    .max-w-lg-366 {
        max-width: 366px;
    }

    .box {
        padding: 92px 118px 92px 92px !important;
    }

    .pt-lg-83 {
        padding-top: 83px !important;
    }

    .pt-lg-79 {
        padding-top: 79px !important;
    }

    .Ellipse18 {
        top: -30% !important;
    }

    .pb-lg-99 {
        padding-bottom: 99px !important;
    }
    .Component-img{
        height: 718px !important;
    }
    .Component {
        top: -1%;
        
        left: 28%;
        right: 30%;
    }

    .pt-lg-150 {
        padding-top: 150px !important;
    }

    .max-w-lg-476 {
        max-width: 476px !important;
    }

    .mt-lg-121 {
        margin-top: 121px !important;
    }

    .third-slider .slick-dots {
        bottom: 5%;
        left: 34%;
    }

    .search-box {
        max-width: 147px;
    }

    .card-img img {
        height: 464px;
    }
}


@media (min-width:1200px) {
    .mycard {
        max-width: 392px;
    }

    .cardimg {
        left: 0;
    }

    .max-w-xl-525 {
        max-width: 525px !important;
    }

    .third-slider .slick-dots {
        bottom: 10%;
        left: 34%;
    }
}

@media (min-width:1400px) {
    .third-slider .slick-dots {
        bottom: 14%;
        left: 33%;
    }
}